
body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #5a5a5a;
    
  }
h1, li a{
    font-family: 'Questrial', sans-serif;
    color:#554332;
}
li a:hover{
    color: #a46c4e;
}
p{
   font-family: 'Quicksand', sans-serif; 
   color: #e9d7c2;
}
.featurette-heading, .fa {
    color: #554332;
}  
span.text-muted, .fa:hover, .text-footer-1{
    color: #a46c4e!important;
}
p.lead{
    font-family: 'Quicksand', sans-serif; 
    color: #7f6952!important;
    font-weight: 500!important;
    padding:15px;
    font-size: 1.15rem!important;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {   
  border-color: rgb(127,105,82);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(127,105,82);
  outline: 0 none;
}
btn:focus{
    border-color: rgb(127,105,82);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(127,105,82)!important;
    outline: 0 none;
}
.featurette-heading {
    margin-top: 4rem!important;
    padding: 15px!important;
}
header{
    padding: 0;
    margin: 0;
}
header h1{
    color:#554332;
}
.text-footer, ul li .text-muted1{
    color: #fff!important;
}
.featurette-divider{
    margin: 2rem 0!important;
}
.last-one{
    margin-bottom: 30px;
}
.footer-link, .footer-link a, .subscribe{
    color: #dba080!important;
    text-decoration: none!important;
}
.footer-link:hover{
    color:#7f6952!important;
}
.footer-cont{
    background-image: linear-gradient(rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.171)),url('images/coffeegrain.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-blend-mode: lighten;
   
}

.btn-primary{
    background-color: #554332!important;
    border-color: #554332!important;
}
.btn-primary:hover{
    border-color:#7f6952!important;
    background-color: #7f6952!important;
}
.btn-primary:active{
    border-color: #a46c4e!important;
    background-color: #a46c4e!important;
    
}
.btn-primary:focus{
    box-shadow: none!important;
} 


  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  
   
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  

  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }